<div class="main-r-up">
	<p class="main-r-title"><span>我关注的项目</span></p>
	<ul class="clear">
		<li class="parent-li">
			<ul>
				<li class="clear">
					<img src="images/personal-img1.png" alt="">
					<div class="r-txt">
						<h3>《犹太人在上海》音乐剧</h3>
						<p class="r-txt-from">by恒源祥戏剧创意</p>
						<img src="images/personal-img2.png" alt="">
						<p>已筹资 <span>￥15,498</span></p>
					</div>
				</li>
				<li class="clear">
					<img src="images/personal-img1.png" alt="">
					<div class="r-txt">
						<h3>《犹太人在上海》音乐剧</h3>
						<p class="r-txt-from">by恒源祥戏剧创意</p>
						<img src="images/personal-img2.png" alt="">
						<p>已筹资 <span>￥15,498</span></p>
					</div>
				</li>
			</ul>
		</li>
		<li class="parent-li">
			<ul>
				<li class="clear">
					<img src="images/personal-img1.png" alt="">
					<div class="r-txt">
						<h3>《犹太人在上海》音乐剧</h3>
						<p class="r-txt-from">by恒源祥戏剧创意</p>
						<img src="images/personal-img2.png" alt="">
						<p>已筹资 <span>￥15,498</span></p>
					</div>
				</li>
				<li class="clear">
					<img src="images/personal-img1.png" alt="">
					<div class="r-txt">
						<h3>《犹太人在上海》音乐剧</h3>
						<p class="r-txt-from">by恒源祥戏剧创意</p>
						<img src="images/personal-img2.png" alt="">
						<p>已筹资 <span>￥15,498</span></p>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="main-r-down">
	<p class="main-r-title"><span>当前最热</span></p>
	<ul class="clear">
		<li>
			<a ui-sref="detail"><img src="images/personal-img3.png" alt=""></a>
			<h4>《犹太人在上海》音乐剧</h4>
			<p class="det">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式</p>
			<img src="images/personal-img4.png" alt="">
			<ul class="clear">
				<li>
					<p>48%</p>
					<span>进度</span>
				</li>
				<li>
					<p>￥15,498</p>
					<span>支持金额</span>
				</li>
				<li>
					<p>6</p>
					<span>剩余天数</span>
				</li>
			</ul>
		</li>
		<li>
			<a ui-sref="detail"><img src="images/personal-img3.png" alt=""></a>
			<h4>《犹太人在上海》音乐剧</h4>
			<p class="det">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式</p>
			<img src="images/personal-img4.png" alt="">
			<ul class="clear">
				<li>
					<p>48%</p>
					<span>进度</span>
				</li>
				<li>
					<p>￥15,498</p>
					<span>支持金额</span>
				</li>
				<li>
					<p>6</p>
					<span>剩余天数</span>
				</li>
			</ul>
		</li>
		<li>
			<a ui-sref="detail"><img src="images/personal-img3.png" alt=""></a>
			<h4>《犹太人在上海》音乐剧</h4>
			<p class="det">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式</p>
			<img src="images/personal-img4.png" alt="">
			<ul class="clear">
				<li>
					<p>48%</p>
					<span>进度</span>
				</li>
				<li>
					<p>￥15,498</p>
					<span>支持金额</span>
				</li>
				<li>
					<p>6</p>
					<span>剩余天数</span>
				</li>
			</ul>
		</li>
	</ul>
</div>